@media (max-width: 992px) {
    .container {
        > h4 {
            padding-left: 0;
        }

        .featured-container .main-featured {
            margin-left: auto;
            margin-right: auto;
            padding-left: 0;
            padding-right: 0;
            position: relative;
            display: block;
        }

        .featured-container .main-featured .card-columns1 {
            display: block;
        }

        .featured-container .main-featured .card-columns1 .card {
            width: 100%;
            display: block;
            float: left;
            height: auto !important;
            margin-bottom: 20px;
        }

        .featured-container .main-featured .card-columns1 .card .read-info {
            float: right;
        }

        .featured-container .main-featured .card-columns1 .card .read-info p:first-child {
            margin-bottom: (-8px) !important;
        }
    }
}

@media (min-width: 993px) {
    .featured-container .card-columns1 {
        display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
        overflow: hidden;
    }

    .featured-container .card-columns1 .card {
        width: 32.3%;
        display: inline-block;
        float: left;
    }

    .card-title h2 {
        margin-bottom: 10px;
        line-height: 1em;
    }

    .featured-container .card-columns1 .card .card_titre-a {
        height: 55px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .featured-container .card-columns1 .card:not(:last-child) {
        margin-right: 1.7%;
    }
}

@media (max-width: 992px) {
    .featured-container .card {
        height: 550px !important;
    }

    .main-header #main-navbar .container .navbar-header #contact_tel {
        line-height: 37px;
    }

    .main-header #main-navbar .container .navbar-header #search-open {
        line-height: 40px;
    }

    .main-header #main-navbar .container div ul li a {
        padding: 10px 12px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .main-header {
        margin-left: 15px !important;
        margin-right: 15px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .container_page .row_page .col-md-4, .container_page .row_page .col-md-8 {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 993px) {
    .main-last .card .featured_home + h4, .posts .card .featured_home + h4 {
        margin-top: 12px;
    }

    .main-last .card .card-block, .main-last .card .left-image, .posts .card .card-block, .posts .card .left-image {
        display: table-cell;
        width: 50%;
    }

    .last-article-container {
        padding-left: 0;
    }

    .main-header {
        margin-left: 15px !important;
        margin-right: 15px !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

@media (max-width: 992px) {
    .last-article-container, .last-article-container .main-last, .posts, .posts .main-last, .tags-container, .tags-container .main-last {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .last-article-container, .posts, .tags-container {
        position: relative;
        display: block;
    }

    .last-article-container .featured_home + h4, .posts .featured_home + h4, .tags-container .featured_home + h4 {
        margin-top: 12px;
    }

    .last-article-container > h4, .posts > h4, .tags-container > h4 {
        padding-left: 0;
    }

    .last-article-container .card .table-card, .posts .card .table-card, .tags-container .card .table-card {
        display: table;
        width: 100%;
    }

    .last-article-container .card .table-card .left-image, .posts .card .table-card .left-image, .tags-container .card .table-card .left-image {
        display: block !important;
        width: 100%;
        height: 217px;
    }

    .last-article-container .card .table-card .card-block, .posts .card .table-card .card-block, .tags-container .card .table-card .card-block {
        display: block;
        width: 100%;
    }

    .last-article-container .card .table-card .card-block .read-info, .posts .card .table-card .card-block .read-info, .tags-container .card .table-card .card-block .read-info {
        float: right;
    }

    .last-article-container .card .table-card .card-block .read-info p:first-child, .posts .card .table-card .card-block .read-info p:first-child, .tags-container .card .table-card .card-block .read-info p:first-child {
        margin-bottom: (-8px) !important;
    }
}

@media (max-width: 767px) {
    .main-header {
        padding-left: 15px;
        padding-right: 15px;
    }

    .main-footer .footer-top .container .row .copyright {
        text-align: center;
        float: none !important;
    }

    .main-footer .footer-top .container .row .div_logo {
        text-align: center;
    }

    .main-footer .footer-top .container .row .div_logo a .logo_footer {
        width: 37%;
    }

    .main-footer .footer-top .container .row .footer_text .widget {
        margin-bottom: 5px;
        line-height: 1.5em;
        text-align: center;
    }

    .featured-container-primary .featured-container .main-featured .main-container .card-columns1 {
        padding: 26px 0 8px;
    }

    .header-container {
        position: fixed;
        top: 0;
        z-index: 1000;
        display: block;
    }

    .page-wrap {
        margin-top: 85px !important;
    }

    .home-template .page-wrap {
        margin-top: 65px !important;
    }

    .header-container .header-container-child .primary_bar .right-buttons {
        right: 10px;
    }

    .header-container:after, .header-container:before {
        display: none;
    }

    .main-header {
        margin-bottom: 0;
        position: absolute;
        top: 0;
        z-index: 1001;
        width: 100%;
    }

    .main-header .navbar {
        background: 0 0;
        position: absolute;
        top: 68px;
        width: 100%;
        left: 0;
    }

    .main-header .navbar-toggle {
        top: 15px;
        left: 10px;
        position: fixed;
    }

    .main-header #main-navbar div {
        width: 100% !important;
        background: #fff;
    }

    .main-header .navbar-collapse.collapse.in {
        background: #fff;
        box-shadow: 1px 3px 10px rgba(204, 204, 204, 0.7);
    }

    .navbar-default .navbar-nav li a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .primary_bar > a {
        margin-left: auto !important;
        margin-right: auto;
        display: block;
        text-align: center;
    }

    .featured-container-primary .title_home {
        margin-top: 25px;
    }

    .navbar-default .navbar-toggle {
        background: #e3272d;
        width: 40px;
        height: 40px;
        padding-left: 9px;
    }

    .page-wrap .pagination-wrap a.older-posts, .widget .title {
        width: 100%;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background: #e3272d;
    }

    .page-wrap .col-md-8 .col-xs-12 {
        padding-left: 0;
        padding-right: 0;
    }

    .page-wrap .pagination-wrap {
        margin-bottom: 15px;
    }

    .container .row, .container_page .row_page {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .container_page .row_page .col-md-4, .container_page .row_page .col-md-8 {
        padding-left: 0;
        padding-right: 0;
    }

    aside.col-md-4.slidebar_home {
        margin-left: 0;
    }

    .container-author .col-xs-12, .page-wrap .col-md-4, .page-wrap .col-md-8, .page-wrap .col-sm-12 {
        padding-left: 0;
        padding-right: 0;
    }

    .container-author {
        margin-left: 0;
        padding-right: 10px;
    }

    .post-wrap .title {
        font-size: 27px;
    }

    .author-template .container-author .title, .post-template .post-entry h2 {
        font-size: 24px;
    }

    .post-wrap .post_author {
        float: none;
        margin-left: 0;
        width: 100%;
    }

    .post-wrap .post_author iframe {
        width: 100% !important;
    }

    .last-container .main-last .main-container .card .card-block .card-text {
        padding-left: 0;
    }

    #link_m_search img {
        margin-top: 0;
        width: 21px;
        cursor: pointer;
    }

    .tag-template .cover-wrap {
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .tag-template .cover-wrap.col-xs-11 {
        width: 100%;
    }

    .tag-template .cover-wrap .col-xs-3, .tag-template .cover-wrap .col-xs-9 {
        padding-left: 0;
        padding-right: 0;
    }

    .meta-info.col-xs-3 span {
        margin-left: -42px;
    }

    .tag-template .row.default-layout.posts .card {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        margin-left: 0;
    }

    .tag-template .row.default-layout.posts .card .card-block .card-text {
        padding-left: 0;
    }

    .tag-cloud .right-buttons a {
        padding: 0;
        margin: 0;
    }

    .post-template .wp-caption {
        width: 100% !important;
    }

    .main-container h2 {
        line-height: 1;
        margin-bottom: 8px;
    }

    .main-container .card-title, .main-container .card-title-container {
        padding-right: 0;
    }

    .last-container .main-container h2 {
        line-height: 1.4;
        margin-bottom: 10px;
    }

    .author-template .container-author .col-sm-6 {
        padding-left: 0;
        padding-right: 0;
    }

    .container-contact {
        margin-left: 0;
        margin-top: 0;
    }

    .container-contact .title_map {
        padding-left: 5px;
    }

    .container-contact .contact-info {
        margin-bottom: 30px;
    }

    .iframe_carte iframe {
        pointer-events: none;
    }

    .page-m-search .m_search_container {
        padding-left: 0;
        padding-right: 0;
    }

    .page-m-search .m_search_container input[type=text] {
        font-size: 1.5em;
    }

    .page-m-search #m_result ul {
        padding-left: 0;
    }
}

@media (max-width: 773px) {
    .prev-next-wrap a {
        width: 100% !important;
        display: block;
    }

    .prev-next-wrap a:first-child {
        margin-bottom: 20px;
    }

    .primary_bar > a {
        margin-left: 11px;
    }

    .primary_bar > a img {
        width: 23%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .main-footer .footer-top .container .row .div_logo a .logo_footer {
        width: 100%;
    }

    .featured-container-primary .featured-container .main-featured .main-container .card-columns1 {
        padding: 26px 0 8px;
    }

    #link_m_search img {
        margin-top: 0;
        width: 21px;
        cursor: pointer;
    }

    .header-container .header-container-child .primary_bar > a {
        margin-left: 10px;
    }

    .container-contact {
        margin-top: 0;
    }

    .featured-container-primary .title_home {
        margin-top: 25px;
    }

    .page-wrap .col-md-8 .col-xs-12 {
        padding-left: 0;
        padding-right: 0;
    }

    .page-wrap .pagination-wrap {
        margin-bottom: 15px;
    }

    .container .row, .container_page .row_page {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .post-template .wp-caption {
        width: 100% !important;
    }

    .main-container h2 {
        line-height: 1;
        margin-bottom: 8px;
    }

    .main-container .card-title, .main-container .card-title-container {
        padding-right: 0;
    }

    .last-container .main-container h2 {
        line-height: 1.4;
        margin-bottom: 10px;
    }

    .last-container .main-last .main-container .card .card-block .card-text {
        padding-left: 0;
    }

    .slidebar_home .widget {
        clear: both;
    }

    .home-template .pagination-wrap .pagination {
        margin-left: 17%;
        margin-bottom: 20px;
    }

    .tag-template .cover-wrap {
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .tag-template .cover-wrap.col-xs-11 {
        width: 100%;
    }

    .tag-template .cover-wrap .col-xs-3, .tag-template .cover-wrap .col-xs-9 {
        padding-left: 0;
        padding-right: 0;
    }

    .tag-template .meta-info span {
        float: right;
    }

    .tag-template .row.default-layout.posts .card {
        padding-left: 0;
        padding-right: 0;
    }

    .tag-template .row.default-layout.posts .card .card-block .card-text {
        padding-left: 0;
    }

    .home-template aside.col-md-4.slidebar_home {
        width: 92%;
        margin-left: 8%;
    }

    .post-template aside.col-md-4.slidebar_home {
        width: 100%;
        margin-left: 2%;
    }

    aside.col-md-4.slidebar_home {
        width: 87%;
        margin-left: 11%;
    }

    .container {
        width: 100%;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .container-author {
        margin-left: 0;
        padding-right: 0;
    }

    .content.tweets, .content.tweets iframe {
        width: 90% !important;
    }

    .iframe_carte iframe {
        pointer-events: none;
    }

    .page-m-search .m_search_container {
        padding-left: 0;
        padding-right: 0;
    }

    .page-m-search .m_search_container input[type=text] {
        font-size: 1.5em;
    }

    .page-m-search #m_result ul {
        padding-left: 0;
    }
}
