<div id="navbar" class="navbar-collapse collapse">
	<ul class="nav navbar-nav">
	
		<li class="home"><a href="{{@site.url}}"><i class="icon-home2" aria-hidden="true"></i></a></li>
		{{#foreach navigation}}
		<li class="{{slug}} {{#if current}}current-menu-item{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
		{{/foreach}}
	</ul>
</div>