{{#get "posts" filter="featured:false" include="authors,tags" limit=15 page=1}}
<div class="main-container col-xs-12">
  {{#foreach posts}}
    {{> post-horizontal-card}}
  {{/foreach}}
</div>
{{/get}}
