{{#get "posts" filter="featured:true" include="author,tags"}}
<div class="main-container col-xs-12">
  {{#foreach posts from="4" to="5"}}
    {{> post-vertical-card}}
  {{/foreach}}

</div>
{{/get}}

{{#get "posts" filter="featured:false" include="author,tags" limit=13 page=1}}
<div class="main-container col-xs-12">
  {{#foreach posts}}
    {{> post-horizontal-card}}
  {{/foreach}}

</div>
{{/get}}
