<aside class="col-xs-12 slidebar_home">
	<div class="sidebar">
		{{> widget-newsletter}}
		{{> widget-ad}}
		{{> widget-recentpost}}
		{{> widget-linkedin}}
		{{> widget-facebook}}
		{{> widget-twitter}}
		</div>
</aside>