<aside class="col-md-4 slidebar_home wow fadeInRight" data-wow-duration="1s">
	<div class="sidebar">
		<div style="font-size:16px;">
		{{> widget-newsletter}}
	</div>
	{{> widget-recentpost}}
	{{> widget-ad}}
	</div>
</aside>
<style type="text/css">

.go_newsLetter{
	padding: 7px !important;
}
</style>