<aside class="col-md-4 slidebar_home">
	<div class="sidebar">
		{{#primary_author}}
			{{#if website}}
				<div class="widget">
				<h4 class="h5 title"><span>Linked</span>IN</h4>
				<div class="content">
				{{> widget-linkedin_auteur}}
				</div>
				</div>
			{{/if}}
		{{/primary_author}}
		{{> widget-ad}}
		{{> widget-recentpost}}
		{{> widget-facebook}}
		{{> widget-twitter}}
		{{> widget-newsletter}}
		</div>
</aside>