<aside class="col-xs-12 slidebar_home wow fadeInRight" data-wow-duration="1s">
	<div class="sidebar">
		{{> widget-newsletter}}
		{{> widget-ad}}
		{{> widget-recentpost}}
		{{> widget-linkedin}}
		{{> widget-facebook}}
		{{> widget-twitter}}
		</div>
</aside>