<aside class="col-md-4 col-xs-12 slidebar_home">
	<div class="sidebar">
	{{> widget-newsletter}}
	{{> widget-ad}}
	{{> widget-linkedin}}
	{{> widget-facebook}}
	{{> widget-twitter}}
	</div>
</aside>