<aside class="col-md-4 slidebar_home">
	<div class="sidebar">
	{{#has tag="Apache Kafka"}}{{> widget-tag-kafka}}{{/has}}
	{{> widget-newsletter}}
	{{> widget-recentpost}}
	{{> widget-ad}}
	</div>
</aside>
<style type="text/css">

.go_newsLetter{
	padding: 7px !important;
}
</style>