<!-- start widget -->
<div class="widget">
	
	<div class="content">
		Proud of our passion for technology and expertise in information systems, we partner with our clients to deliver innovative solutions for their strategic projects.<br>
		Through communication, curiosity and team spirit, we offer the best solutions to our customers.<br>
	</div>
</div>
<!-- end widget -->

<style type="text/css">
.footer-about_ippon{
	text-transform: uppercase;
	color:#999999;
	font-weight: bold;
	font-size: 24px;
    padding-top: 14px;
}</style>