<div class="widget">
    <h4 class="h5 title"><span>Related</span> content</h4>
    <p><a
            href="https://aws.amazon.com/blogs/apn/re-writing-a-mainframe-software-package-to-java-on-aws-with-ippon-technologies/">AWS
            Partner Network (APN) Blog - Re-Writing a Mainframe Software Package to Java on AWS with Ippon
            Technologies</a></p>
</div>