<div class="widget">
    <h4 class="h5 title"><span>JHipster</span> white paper</h4>
    <p>Download our white paper explaining how we built a CRM System in one week with JHipster 4:</p>
    <a href="https://en.ippon.tech/how-we-built-a-crm-system-in-one-week-with-jhipster-4/">
        <img src="/assets/images/JHipster-for-techies-Hipster-developer-diary.png"
            alt="White Paper - How We Built a CRM System in One Week with JHipster 4"
            width="100%">
    </a>
</div>