<!-- start widget -->
<div class="widget">
	<h4 class="h5 title"><span>Twi</span>tter</h4>
	<div class="content tweets">
		<!-- start code from publish.twitter.com -->
		<a class="twitter-timeline" data-height="600" data-chrome="nofooter noheader noborders noscrollbar" data-tweet-limit="5" href="https://twitter.com/IpponUSA"  >Tweets by IpponUSA</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		<!-- end code from publish.twitter.com -->
	</div>
</div>
<!-- end widget -->
<style type="text/css">
.timeline-Tweet-media{
display: none;}</style>