<!-- start tag cloud widget -->
<div class="widget">
	<h4 class="h5 title"><span>News</span>letter</h4>
	<div class="content newsletter">
		
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>

<div id="mc_embed_signup">
<form action="//ippon.us4.list-manage.com/subscribe/post?u=06d4b1cd5eca4b3a5cdd0ae92&amp;id=aae43447f1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<div class="form_title">For our news update, subscribe to our newsletter! You can unsubscribe anytime.</div>
<div class="mc-field-group form-group">
	<!-- <label for="mce-EMAIL">Email  <span class="asterisk">*</span> 
</label>-->
<i class="fa fa-envelope" aria-hidden="true"></i>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email address">
</div>
<div class="mc-field-group form-group">
	<!-- <label for="mce-FNAME">First Name  <span class="asterisk">*</span> 
</label>-->
<i class="fa fa-user" aria-hidden="true"></i>
	<input type="text" value="" name="FNAME" class="required" id="mce-FNAME" placeholder="First name">
</div>
<div class="mc-field-group form-group">
	<!-- <label for="mce-LNAME">Last Name  <span class="asterisk">*</span> 
</label>-->
<i class="fa fa-user" aria-hidden="true"></i>
	<input type="text" value="" name="LNAME" class="required" id="mce-LNAME" placeholder="Last name">
</div>
<div class="mc-field-group form-group">
	<!-- <label for="mce-COMPANY">company </label> -->
	<i class="fa fa-building" aria-hidden="true"></i>
	<input type="text" value="" name="COMPANY"  id="mce-COMPANY" placeholder="Company">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_06d4b1cd5eca4b3a5cdd0ae92_aae43447f1" tabindex="-1" value=""></div>
    <input type="submit" value="Go" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-default"></div>
    <div class="clear">
    </div>
</form>
</div>


<script type='text/javascript' src={{asset "js/mc-validate.js"}}></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
		<div id="message"></div>
	</div>
</div>
<!-- end tag cloud widget -->
<script type='text/javascript' src='{{asset "js/mc-validate.js"}}' async></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

