<div class="widget">
    <h4 class="h5 title"><span>Kafka</span> e-book</h4>
    <p>Download our guide to producing, consuming and processing events with Apache Kafka:</p>
    <a href="https://en.ippon.tech/apache-kafka/">
        <img src="/assets/images/WP_ApacheKafka_IPPON2018.png"
            alt="Apache Kafka - A guide to producing, consuming and processing events"
            width="100%">
    </a>
</div>