<!-- start widget -->
<div class="widget">
	<h4 class="h5 title"><span>We are </span>IPPON</h4>
	<div class="content ad">
		<a href="http://www.ippon.tech/careers/" target="_blank"><img src="{{asset "/images/sponsor.jpg"}}"></a>
	</div>
</div>
<!-- end widget -->