{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<div class="container container_page">
  <div class="row row_page">
    <div class="col-md-8">

      <div class="row default-layout page_next page_pagination">

        {{#foreach posts}}
        {{> post-horizontal-card}}
        {{/foreach}}

      </div>

      {{pagination}}
    </div>
    {{> sidebar_home}}
  </div>
</div>
