{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<main class="content" role="main" style="min-height:100%;">
      <div class="container">
         <header class="post-header">
          <div class="m_search_container col-xs-12">
            <form action="" autocomplete="off">
              <input type="text" id="m_search" name="m_search" placeholder="Search.." class="col-xs-12">
            </form>
          </div>
      </header>

      <div id="m_result">
        <ul>
          
        </ul>
      </div>
      </div>




   
</main>
