{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<main class="content" role="main">
<div class="col-xs-12 col-md-8 wow fadeInLeft" data-wow-duration="1s">
    <article class="{{post_class}}">

        <div class="container-contact">
        	
        	<h3 class="title title_map">OUR OFFICES IN THE <span class="red_color">USA</span></h3>
            <div class="col-xs-12 carte" >
            <div class="iframe_carte">
            <iframe class="iframe_css"  src="https://www.google.com/maps/d/u/0/embed?mid=1kzcLg8xMtmnzt_lBdKu75bk1Uco&z=6" width="100%" height="380"></iframe>
            </div>
			</div>
            <div class="container col-xs-12 contact-info">
					<div class="col-md-4">
					<h3 class="title">New York</h3>
					Ippon @WeWork<br>
					135 E 57th Street<br>
					New York, NY 10022<br>
					United States of America<br>
					<div class="meta-info">

							<span class="website"><a href="tel:+1 844.477.6687" ><i class="fa  fa-fw fa-phone"></i>+1 844.477.6687</a></span>
							<span class="linkedin"><a href="mailto:contact@ipponusa.com" target="_BLANK"><i class="fa fa-fw fa-at"></i>contact@ipponusa.com</a></span>
						</div>
					</div>
					<div class="col-md-4">
					<h3 class="title">Washington DC</h3>
					Ippon @WeWork<br>
					1440 G St NW<br>
					Washington, DC 20005<br>
					United States of America
					</div>
					<div class="col-md-4">
					<h3 class="title">Richmond</h3>
					Ippon Richmond<br>
					2700 East Cary Street - Suite C<br>
					Richmond VA 23223<br>
					United States of America<br><br>
					</div>
				</div>
				<h3 class="title title_map">OUR OFFICES IN <span class="red_color">AUSTRALIA</span></h3>
				<div class="col-xs-12 carte" >
				<div class="iframe_carte">
				<iframe class="iframe_css" src="https://www.google.com/maps/d/u/0/embed?mid=1jjAEfSdI9iMy-6s4o41vgkvqOMQ&z=13" width="100%" height="380"></iframe>
				</div>
				</div>
				<div class="container col-xs-12 contact-info">
					<div class="col-md-8">
					<h3 class="title">Richmond (Melbourne)</h3>
					Ippon Melbourne<br>
					132 Cremorne Street<br>
					Richmond<br>
					VICTORIA 3121<br>
					Australia
					<div class="meta-info">

							<span class="website"><a href="tel:+61 403 032 632" ><i class="fa  fa-fw fa-phone"></i>+61 403 032 632</a></span><br>
							<span class="linkedin"><a href="mailto:duncan.banks@ippon.tech" target="_BLANK"><i class="fa fa-fw fa-at"></i>duncan.banks@ippon.tech</a></span>
						</div>
					</div>
				</div>
				<h3 class="title title_map">OUR OFFICES IN <span class="red_color">FRANCE</span></h3>
				<div class="col-xs-12 carte" >
				<div class="iframe_carte">
				<iframe class="iframe_css" src="https://www.google.com/maps/d/u/0/embed?mid=1x4qqLrUvmUvqr4SMxDOWKXTMWMY&z=13" width="100%" height="380"></iframe>
				</div>
				</div>
				<div class="container col-xs-12 contact-info">
					<div class="col-md-8">
					<h3 class="title">Paris</h3>
					Ippon Paris<br>
					Head Office<br>
					43, avenue de la Grande Armée<br>
					Paris, 75116<br>
					France
					<div class="meta-info">

							<span class="website"><a href="tel:+33 1 46 12 48 48" ><i class="fa  fa-fw fa-phone"></i>+33 (0)1 46 12 48 48</a></span><br>
							<span class="linkedin"><a href="mailto:gfournel@ippon.fr" target="_BLANK"><i class="fa fa-fw fa-at"></i>gfournel@ippon.fr</a></span>
						</div>
					</div>
				</div>

				<!-- Marrakech -->
                <h3 class="title title_map">OUR OFFICES IN <span class="red_color">MOROCCO</span></h3>
				<div class="col-xs-12 carte" >
				<div class="iframe_carte">
				<iframe class="iframe_css" src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d2301.361673365204!2d-8.010226937935329!3d31.58696961843916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e0!4m0!4m3!3m2!1d31.5871325!2d-8.0109636!5e0!3m2!1sfr!2sfr!4v1488218779053" width="100%" height="380"></iframe>
				</div>
				</div>
				<div class="container col-xs-12 contact-info">
					<div class="col-md-8">
					<h3 class="title">Marrakech</h3>
					Ippon Marrakech<br>
					Km 3, route d'Amizmiz<br>
					Chrifia - Marrakech<br>
					MAROC

					</div>
				</div>
				<!-- END Marrakech -->
        </div> 
        
    </article>
    </div>
   <div class="col-xs-12 col-md-4">{{> sidebar_contact}} </div>
</main>

