{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<main class="content" role="main">
       <header class="post-header">
      <h1 class="post-title">{{title}}</h1>
  </header>
	<!-- 	 <form action="">
				<input type="hidden" id="search-input2">
			</form> -->

        <div class="container container-contact">
        	<div class="col-xs-12 col-md-8" id="search-page-result">
        	<ul>
        	</ul>
        </div> 
        <div class="col-xs-12 col-md-4">{{> sidebar_contact}} </div>
        </div>


   
</main>

