{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="row default-layout">
			{{!-- <<a href="https://ma.linkedin.com/pub/mariam-sabil/4b/6b0/768">
      
          
          
          
            <img src="http://s.c.lnkd.licdn.com/scds/common/u/img/webpromo/btn_viewmy_160x25_fr_FR.png?locale=" width="160" height="25" border="0" alt="Voir le profil de Mariam SABIL sur LinkedIn">
           --}}
           Société : <br>
           <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/CompanyProfile" data-id="5101663" data-format="inline"></script>
			
			Profil : <br>
			<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/mariam-sabil-7686b04b" data-format="inline" data-related="false"></script>
			
			Jobs : <br>
<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/JYMBII" data-id="20908" data-format="inline"></script>


			</div>
		</div>
		{{> sidebar}}
	</div>

</div>
